body{
    background-image: url('background.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Belgrano', serif;
    color: white;
}
#heading{
    font-family: 'Lobster', cursive;
}
#info{
    font-family: 'Pacifico', cursive;
}
#header-top{
   background-color:midnightblue;
   width:90%;
   background-attachment: fixed;
   display: flex;
   flex-wrap: wrap;
   color:white;
   flex-direction: row;
   justify-content: space-between;
   align-items: flex-start;   
}
#container{
    margin-top: 3%;
    display: flex;
    flex-wrap:wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#searchHeroBar{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;

   
}
#displayHeroSearchResults{
    display: flex;
    
    flex-wrap: wrap;
    justify-content: space-evenly;

}
.loading-and-error-font{
    font-family: 'PT Mono', monospace;
    letter-spacing: 2px;
}


.hero-card{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    position: relative;
}
a:link{
    color: white;
    text-decoration: none;
}
a:visited{
    color: white;
    text-decoration: none;
    
}
a:hover{
    color: white;
    cursor: pointer;
    text-decoration: none; 
}
a:active{
    color: white;
    text-decoration: none;
}

::placeholder {
   
    color:midnightblue;
    font-family: 'Belgrano', serif;
   
  }


@media only screen and (min-width : 900px){
    #header-top{
        margin-left: 3%;
        height: 4%;
        padding: 1%;
        border-radius:50px;
        box-shadow: 0 0 10px lightgrey;
        font-size: 1.2rem;
    }
    #heading{
        font-size: 5rem;
        letter-spacing: 8px;
        font-weight: 900;
    }
    #info{
        font-size: 2rem;
        letter-spacing: 2px;
       
    }
    
    #searchHeroBar{
        margin-top: 3%;
        position: relative;
        width:50%;     
    }
    #searchHero{
        position: relative;
        width:100%;
        padding:3%;
        height:2%;
        font-size: 1.5rem; 
        border-radius: 30px;    
        box-shadow: 0 0 20px rgb(239, 236, 236);
    }

    #displayHeroSearchResults{
        
        flex-direction: row;
        width: 80%;
        margin: 2%;
        
    }
    .hero-card{
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: space-evenly;
        align-items: center;
        font-family: 'Dawning of a New Day', cursive;
        font-size: 2.5rem;
        font-weight: 900;
        letter-spacing: 2px;
        white-space: nowrap;
        padding: 1%;
        margin: 2%;
        width:25%;
        height : 20%;
    }

    .hero-card:hover{
        cursor: pointer;
        box-shadow: 0 0 3px 3px lightcyan;
    }

    .hero-card img{
        width: 150px;
        margin-top: 2%;
        height: 150px;
        border-radius: 100px;
        box-shadow: 0 0 50px lightgrey;
       
    }

    .fav-btn{

        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top:2%;
        padding: 3%;
        font-size: 1.2rem;
        font-family: 'Belgrano', serif;
        cursor: pointer;
        border: 1px solid white;
        border-radius: 20px;
    }
    
    

}
